<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
	<title>Image to Text script</title>
	<link rel="stylesheet" type="text/css" href="../static/css/hit1_style.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
</head>
<body>
<div><h1>Enter the text lines in the picture here..</h1><hr></div>
{% block conent %}
<strong>This is for book: "{{book_title}}"</strong>
{% endblock %}
<div id="char1">
<img id="img" src="../static/images/1.jpg">
</div>
<div id="script">
	<div id="text">Enter the characters below</br></div>
	<div id="charchoice">
	
	<input class="characters" type="text" placeholder="Andy"/>
	<input class="characters" type="text" placeholder="Brady"/>
	<input class="characters" type="text" placeholder="Cody"/>
	<input class="characters" type="text" placeholder="Didi"/>
	<input class="characters" type="text" placeholder="Eddy"/>
	<input id="submit_char" type="submit" name="Submit" value="Submit">
	<div id="char"></br><button id="add_char"><input type="image" src="../static/images/add1.png"></button></div>
	</div>
	</br>
	</br>
	
	<form id="script_form" action="/script/script_result" method="POST">
	<input id="pgno" type="hidden" value="pageno">

		<div id="div1"><span><select class="char-list">
					</select> </span><input type="text"/></br><input id="lineno" type="hidden" value="lineno"/></div>
		<div><span><select class="char-list">
		</select> </span><input type="text"/></br></div>
		<div><span><select class="char-list">
		</select> </span><input type="text"/></br></div>
		<div><span><select class="char-list">
		</select> </span><input type="text"/></br></div>
		<div><span><select class="char-list">
		</select> </span><input type="text"/></br></div>
		<div><span><select class="char-list">
		</select> </span><input type="text"/></br></div>
	
	</form>
	<div id="line"><button id="add_line" value="add"><input type="image" src="../static/images/add2.png"/></button></div>
	</br>
	<input id="submit" type="submit" value="Submit"/>
</div>
<script type="text/javascript">
$('#line').click(function() {
    $('<div><span><select class="char-list"></select> </span><input type="text"/></br></div>')
        .appendTo($('#script_form'));
});
$(function() {
    $('input.characters').blur(function() {
        var values = $('input.characters').filter(function(){ // discard fields with no value
              return this.value != '';
        }).map(function() { 
              return $(this).val();       // return the value
        }).get();                         // get the values
        var $list = $('.char-list').empty();
        for(var i in values) {
           $('<option />').text(values[i]).appendTo($list);   // build and add options
        }
    });
});
$('#add_char').click(function() {
   $('<input class="characters" type="text" placeholder="new">')
        .prependTo($('#charchoice'));
});
</script>

</body>
</html>

