<!DOCTYPE html>

<html>
<head>
	<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->
	<title>Record Lines</title>
	<style type='text/css'>
		ul { list-style: none; }
	</style>
	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="../static/js/recorder.js"></script>
</head>
<body>
	<h1>Instructions</h1>
	<p>Please make sure your device is connected to a mic before you proceed</p>
	<p>The audio parts recorded will be used in a class project with care.</p>

	<!--<form id="voice_acting" action="." method="POST" onsubmit="submitForm()">-->
	<form id="voice_acting" action="{{turkSubmitTo}}/mturk/externalSubmit" method="POST" onsubmit="submitForm(event)"><!-- will need to submit to a wait page for result instead of '.'-->
		<input type="hidden" name="assignmentId" value="{{assignmentId}}">
		<input type="hidden" name="story" value="story_name">
		<input type="hidden" name="char" value="char_name">
		<p>please record the voice acting audio parts for character <b>"{{character}}"</b> from the story <b>"{{story}}"</b></p>
		<!--<input type="submit" value="Submit">-->
	</form>
	
	<h2 style="display: none;">Log</h2>
	<pre id="log" style="display: none;"></pre>

	<script>
		var story = "{{story}}";
		var character = "{{character}}";
		var entries = {{entries|tojson}};
		var voiceBlob = [];
		
		var audio_context;
		var recorder;
		
		window.onload = function init() {
			try {
				// webkit shim
				window.AudioContext = window.AudioContext || window.webkitAudioContext;
				navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
				window.URL = window.URL || window.webkitURL;

				audio_context = new AudioContext;
				__log('Audio context set up.');
				__log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
			} catch (e) {
			  alert('No web audio support in this browser!');
			}

			navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
			  __log('No live audio input: ' + e);
			});
			
			// loading input field data
			$('[name="story"]')[0].value = story;
			$('[name="char"]')[0].value = character;
			for (var i = 0; i < entries.length; i++){
				var page = entries[i].page;
				var line = entries[i].line;
				var script = entries[i].script;
				$("#voice_acting").append('<input type="hidden" name="line'+i+'" value="'+story+'_'+page+'_'+line+'">'+script+'<br><button onclick="startRecording(this); return false;">record</button><button onclick="stopRecording(this, '+i+'); return false;" disabled>stop</button><button onclick="deleteRecording(this, '+i+'); return false;" disabled>delete</button><ul id="audplayer'+i+'"></ul><br>');
			}
			$("#voice_acting").append('<input type="submit" value="Submit">');
			
			if("{{assignmentId}}" == "ASSIGNMENT_ID_NOT_AVAILABLE"){
				$("button").prop('disabled', true);
			}
		};
		
		function startUserMedia(stream) {
			var input = audio_context.createMediaStreamSource(stream);
			__log('Media stream created.');

			// Uncomment if you want the audio to feedback directly
			//input.connect(audio_context.destination);
			//__log('Input connected to audio context destination.');

			recorder = new Recorder(input);
			__log('Recorder initialised.');
		}

		function startRecording(button) {
			recorder && recorder.record();
			// disable "record"
			button.disabled = true;
			// enable "stop"
			button.nextElementSibling.disabled = false;
			__log('Recording...');
		}

		function stopRecording(button, line) {
			recorder && recorder.stop();
			// disable "stop"
			button.disabled = true;
			// enable "delete"
			button.nextElementSibling.disabled = false;
			__log('Stopped recording.');

			// create WAV download link using audio data blob
			createDownloadLink(line);

			recorder.clear();
		}

		function createDownloadLink(line) {
			recorder && recorder.exportWAV(function(blob) {
				var url = URL.createObjectURL(blob);
				var li = document.createElement('li');
				var au = document.createElement('audio');
				//var hf = document.createElement('a');

				au.controls = true;
				au.src = url;
				//hf.href = url;
				//hf.download = new Date().toISOString() + '.wav';
				//hf.innerHTML = hf.download;
				li.appendChild(au);
				//li.appendChild(hf);
				// insert replay and download link
				$("#audplayer"+line)[0].appendChild(li);
				// store recording file into the upload queue - need to change the story_pg_line
				voiceBlob.push({name:"voice" + line, value:blob, filename:$('[name="line'+line+'"]')[0].value+".wav"});
				
				// store url in an input field - might not be necessary 
				//$("#voice_acting").append('<input type="hidden" class="voice_url" name="voice_url' + line + '" value="' + url + '">');
			});
		}
				
		function deleteRecording(button, line){
			// remove download link
			var myNode = $("#audplayer"+line)[0];
			myNode.removeChild(myNode.firstChild);
			// disable "delete"
			button.disabled = true;	
			// disable "stop"
			button.previousElementSibling.disabled = true;		
			// enable "record"
			button.previousElementSibling.previousElementSibling.disabled = false;
			// remove recording file from the upload queue 
			voiceBlob = $.grep(voiceBlob, function(e){return e.name != "voice" + line});
			
			// remove recording_url from interface
			//$('[name="voice_url' + line + '"]')[0].remove();
			
			__log('delete current recording for line ' + line);
		}
		
		function submitForm(event){
			// check if each line has a voice part recorded
			if(voiceBlob.length == entries.length){
				// sort and upload files in order just to feel good about it
				voiceBlob.sort(function(a, b){
					if(a.name < b.name){
						return -1;
					}else{
						return 1;
					}
				});
			
				// append and send each entry from voiceBlob into formData and upload through AJAX			
				for(i = 0; i < voiceBlob.length; i++){
					var form_data = new FormData($("form")[0]);
					// form_data.append(name, file, filename);
					//form_data.append(voiceBlob[i].name, voiceBlob[i].value, voiceBlob[i].filename);
					form_data.append("wav", voiceBlob[i].value, voiceBlob[i].filename);
					$.ajax({
						type: 'POST',
						url: '/record/upload_aud',
						//url: '128.46.32.82:8012/record/upload_aud',
						data: form_data,
						processData: false,
						contentType: false
					}).done(function(data){
						if(data == 'success'){
							console.log("file stored");
						}else{
							console.log("file not stored");
						}
					});
				}
			}else{
				alert("Please record every line before you submit the form, thank you");
				event.preventDefault();
			}
		}

		function __log(e, data) {
			log.innerHTML += "\n" + e + " " + (data || '');
		}
	</script>
</body>
</html>
