<!DOCTYPE html>

<html>
<head>
	<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->
	<title>Record Lines</title>
	<style type='text/css'>
		ul { list-style: none; }
	</style>
	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="../static/js/recorder.js"></script>
</head>
<body>
	<div style="width:600px; margin-left:auto; margin-right:auto; padding:12px; border: 1px solid black">This HIT is part of a class project at Purdue University by Albert Yang, Calvin Yau, and Karthik Kanuganti.&nbsp; Feel free to email us at <a href="mailto:yang716@purdue.edu">yang716@purdue.edu</a> with any questions or concerns.&nbsp; In case you run into any bugs in our system, we will make sure that you are paid.</div>
	
	<h1>Instructions</h1>
	<p>Please make sure your device is connected to a mic before you proceed</p>
	<form id="voice_acting" action="{{turkSubmitTo}}/mturk/externalSubmit" method="POST" onsubmit="submitForm(event)">
		<input type="hidden" name="assignmentId" value="{{assignmentId}}">
		<input type="hidden" name="story" value="story_name">
		<input type="hidden" name="char" value="char_name">
		<p>please record the voice acting audio parts for character <b>"{{character}}"</b> from the story <b>"{{story}}"</b></p>
	</form>

	<script>
		var story = "{{story}}";
		var character = "{{character}}";
		var entries = {{entries|tojson}};
		var voiceBlob = [];
		
		var audio_context;
		var recorder;
		
		var submit_ready = false;
		
		window.onload = function init() {
			try {
				// webkit shim
				window.AudioContext = window.AudioContext || window.webkitAudioContext;
				navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
				window.URL = window.URL || window.webkitURL;

				audio_context = new AudioContext;
			} catch (e) {
			  alert('No web audio support in this browser!');
			}

			navigator.getUserMedia({audio: true}, startUserMedia, function(e){});
			
			// loading input field data
			$('[name="story"]')[0].value = story;
			$('[name="char"]')[0].value = character;
			for (var i = 0; i < entries.length; i++){
				var page = entries[i].page;
				var line = entries[i].line;
				var script = entries[i].script;
				$("#voice_acting").append('<input type="hidden" name="line'+i+'" value="'+story+'_'+page+'_'+line+'">'+script+'<br><button onclick="startRecording(this); return false;">record</button><button onclick="stopRecording(this, '+i+'); return false;" disabled>stop</button><button onclick="deleteRecording(this, '+i+'); return false;" disabled>delete</button><ul id="audplayer'+i+'"></ul><br>');
			}
			$("#voice_acting").append('<input type="submit" value="Submit">');
			
			if("{{assignmentId}}" == "ASSIGNMENT_ID_NOT_AVAILABLE"){
				$("button").prop('disabled', true);
			}
		};
		
		function startUserMedia(stream) {
			var input = audio_context.createMediaStreamSource(stream);

			// Uncomment if you want the audio to feedback directly
			//input.connect(audio_context.destination);

			recorder = new Recorder(input);
		}

		function startRecording(button) {
			recorder && recorder.record();
			// disable "record"
			button.disabled = true;
			// enable "stop"
			button.nextElementSibling.disabled = false;
		}

		function stopRecording(button, line) {
			recorder && recorder.stop();
			// disable "stop"
			button.disabled = true;
			// enable "delete"
			button.nextElementSibling.disabled = false;

			// create WAV download link using audio data blob
			createDownloadLink(line);

			recorder.clear();
		}

		function createDownloadLink(line) {
			recorder && recorder.exportWAV(function(blob) {
				var url = URL.createObjectURL(blob);
				var li = document.createElement('li');
				var au = document.createElement('audio');
				//var hf = document.createElement('a');

				au.controls = true;
				au.src = url;
				li.appendChild(au);
				// insert replay and download link
				$("#audplayer"+line)[0].appendChild(li);
				// store recording file into the upload queue - need to change the story_pg_line
				voiceBlob.push({name:"voice" + line, value:blob, filename:$('[name="line'+line+'"]')[0].value+".wav"});
			});
		}
				
		function deleteRecording(button, line){
			// remove download link
			var myNode = $("#audplayer"+line)[0];
			myNode.removeChild(myNode.firstChild);
			// disable "delete"
			button.disabled = true;	
			// disable "stop"
			button.previousElementSibling.disabled = true;		
			// enable "record"
			button.previousElementSibling.previousElementSibling.disabled = false;
			// remove recording file from the upload queue 
			voiceBlob = $.grep(voiceBlob, function(e){return e.name != "voice" + line});
		}
		
		function submitForm(event){
			console.log(submit_ready);
			// check if each line has a voice part recorded
			if(voiceBlob.length == entries.length){				
				if(!submit_ready){
					upload_aud();
					event.preventDefault();
				}
			}else{
				alert("Please record every line before you submit the form, thank you");
				event.preventDefault();
			}
		}
		
		function upload_aud(){
			// sort and upload files in order just to feel good about it
			voiceBlob.sort(function(a, b){
				if(a.name < b.name){
					return -1;
				}else{
					return 1;
				}
			});
		
			for(i = 0; i < voiceBlob.length; i++){
				var form_data = new FormData($("form")[0]);
				// form_data.append(name, file, filename);
				form_data.append("wav", voiceBlob[i].value, voiceBlob[i].filename);
				$.ajax({
					type: 'POST',
					url: '/record/upload_aud',
					//url: '128.46.32.82:8012/record/upload_aud',
					data: form_data,
					processData: false,
					contentType: false,
					async: false
				}).done(function(data){
					if(data == 'success'){
						console.log("file"+i+" stored");
					}else{
						console.log("file"+i+" not stored");
					}
					if(i == (voiceBlob.length-1)){
						submit_ready = true;
						$("form")[0].submit();
					}
				});
			}
		}
	</script>
</body>
</html>
