{% extends "index.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block content %}

<div class="wrapper">
  <header role="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" role="button">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/upload" class="navbar-brand logo"> Create a story</a>
        </div>
        <form class="navbar-form navbar-left" id="search_form" role="search">
          <div class="form-group">
            <input name="search" type="text" class="form-control" placeholder="Search books" id="srch-term">
          </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right js-nav">
            <li><a href="#home"><i class="glyphicon glyphicon-home"> </i> Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#folio">Books</a></li>
            <li><a href="#instructions">Instructions</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section id="home" class="sec-main">
    <h1 class="main-heading">Crowd-Time Stories</h1><br/>
  </section>
  <div class="form-group">
   <label class="col-md-4a control-label" for="singlebutton"></label>
   <div class="col-md-4a center-block">
      <a href="#about" id="singlebutton" name="singlebutton" class="btn btn-primary center-block">
          
           Find out more!
       </a>
       <a href="/upload" id="singlebutton" name="singlebutton" class="btn btn-primary center-block">
          Create your story
       </a>
   </div>  
  </div>
  <!-- <section id="home" class="sec-main2">
    <h2 class="main-heading">˅</h2>
  </section> -->
  <section id="about" class="sec-about">
    <div class="container">
      <h1>About us</h1>
      <hr/>
        <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>Crowd-Time story is a platform to create unique bed-time stories for your kids. Add multiple voices to your stories and bring life to the characters. Parents can also join the creative process of story-telling by being a character in the story. With our website, you can help your child get a unique and authentic story-telling experience!!</p>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="sec-services">
    <div class="container">
      <h1>Services</h1>
      <hr />
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-4x fa-magic"></i>
          <h2 class="h3">Create </h2>
          <p> Create a storybook for your kids with the characters' voices come alive. </p>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-4x fa-glass"></i>
          <h2 class="h3">Customize </h2>
          <p>You can customize the stories to your liking, not just the voices but also the lines itself!! So, go ahead and create your own stories for your pretty little fellas.</p>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-4x fa-map-marker"></i>
          <h2 class="h3">Publish </h2>
          <p>Publish your stories to our website so that others can enjoy from your goodwill. </p>
        </div>
      </div>
    </div>
  </section>
  <section id="folio" class="sec-folio">
    <div class="container">
      <h1>Books</h1>
      <hr/>
      <h3 class="heading">Select existing books from our shelf</h3>
      <div class="row"><br/>
        <div class="col-md-4"> <a href="../record/result?story=Where the wild things are"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" class="center-block" src="../static/images/Where_The_Wild_Things_Are_(book)_cover.jpg" alt="wHERE THE WILD THINGS ARE" width="250" height="300" /></a></div>

        <div class="col-md-4">
          <img onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" class="center-block" src="../static/images/book.png" alt="Coming soon.."  width="250" height="300" /></div>
        <div class="col-md-4">
          <img onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" class="center-block" src="../static/images/book.png" alt="Coming soon.."  width="250" height="300" /></div>
        <!--<div class="overlay"></div>
          <div id="button"></div> -->
      <!-- </div>
      <div class="row">
        <div class="col-md-4"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" class="center-block" src="../static/images/book.png" alt="bedtime stories" width="250" height="300" /></div>
        <div class="col-md-4"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" class="center-block" src="../static/images/book.png" alt="Matilda" width="250" height="300" /></div>
        <div class="col-md-4"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" class="center-block" src="../static/images/book.png" alt="brown bear" width="250" height="300" /></div>
         -->
        
      </div>
    </div>
    
  </section>
  <section id="instructions" class="sec-instructions">
    <div class="container">
      <h1>Instructions</h1>
      <hr />
      <div class="row">
        <div class="col-sm-4">
          <p class="text-cneter">Step1: Capture the pictures of all pages of your picture book and name the files in the following format. Please save them to a local directory in your computer.<br/>
          eg : YOURSTORYNAME_pagenumber<br/></p>
        </div>
        <div class="col-sm-4">
          <p class="text-cneter">Step2: Upload the image files to our server <a href="/upload">here</a>. <br/></p>
        </div>
        <div class="col-sm-4">
          <p class="text-cneter">Step3: Enter a brief desciption of which type of voices you require for your story.For example: male/female, light/heavy etc. /<br/>
        </div>
        <div class="col-sm-4">
          <p class="text-center">Step4: Please allow us a day and check back our website for your finished audiobook. We'll create a beautiful story with your audio and present to you in an interactive way.<br/>

<p class="text-center">Finally, listen to the stories with your children and enjoy.</p><br/>
        </div>

<!-- Step4: Record your voice for the lines with the audio recorder on our website. <br/>

Step5: (BEST WAY) You'll be redirected to AMT where a layout with text lines section and the corresponding audio files section are side-by-side.<br/>

Step6: Name the audio files in the following format and save them to your local computer. XXXXXXX<br/>

Step7: Upload the audio files to us and  -->

        
      </div>
    </div>
  </section>
  <section id="contact" class="sec-contact">
    <div class="container">
      <h1>Contact Us</h1>
      <hr />
      <form action="mailto:aq@purdue.edu?subject=Crowdtimestory" method="POST">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <form class="center-block" action="#" method="post">
            <div class="form-group">
              <label class="sr-only" for="inputName">Full name</label>
              <input id="inputName" class="form-control" type="text" placeholder="Your name" required />
            </div>
            <div class="form-group">
              <label for="inputMail" class="sr-only">Email Address</label>
              <input id="inputMail" class="form-control" type="email" placeholder="example@example.com" required />
            </div>
            <div class="form-group">
              <label for="inputMessage" class="sr-only">Your Message</label>
              <textarea id="inputMessage" class="form-control" name="message" cols="30" rows="8" required></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-default center-block" type="submit" value="mailto:aq@purdue.edu?subject=Crowdtimestory">Contact</button>
            </div>
          </form>
        </div>
      </div>
      </form>
    </div>
  </section>
  <footer id="footer">
 
  <img src="https://www.purdue.edu/purdue/images/wearepurdue.png" style="height: 52px">
   COPYRIGHT &copy PURDUE UNIVERSITY
  </footer>
</div>

<script src="static/js/jquery-1.11.0.min.js"></script>
<script src="static/js/index.js"></script>
<script type="text/javascript">
    function bigImg(x) {
        x.style.height = "290px";
        x.style.width = "242px";
    }

    function normalImg(x) {
        x.style.height = "300px";
        x.style.width = "250px";
    }
</script>

{% endblock %}
